$bor_color: #27343b;
.EquipmentManagementBox {
  width: 100%;
  height: 100%;
  background-color: #021035;
  .Interwork_left {
    width: 235px;
    height: calc(100% - 60px);
    border-right: 1px solid $bor_color;
    border-top: 1px solid $bor_color;
    background-color: rgba(28, 33, 39, 0.7);
    position: absolute;
    z-index: 9;
    left: 0;
    top: 60px;
    .InterworkLeft_search {
      border-top: 1px solid $bor_color;
      border-bottom: 1px solid $bor_color;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .InterworkLeft_Title {
      height: 110px;
      border-bottom: 1px solid $bor_color;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
      span {
        width: 28px;
        height: 18px;
        margin-right: 5px;
        background: url("./img/03.png") no-repeat;
        background-size: 100% 100%;
      }
    }
    .addPoint {
      color: #40c3e3;
      position: absolute;
      width: 135px;
      height: 30px;
      border: 1px solid #40c3e3;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      line-height: 30px;
      bottom: 30px;
      left: 30px;
    }
  }
  .mapBox {
    height: calc(100% - 60px);
  }
}
.Interwork_left {
  :global(.ant-input) {
    color: #fff;
    background-color: #1b2d2f;
    border: none;
    outline: none;
  }
  .InterworkLeft_search {
    :global(path) {
      color: white;
    }
  }
}
