ul li{list-style: none;}
.point_name{
    padding:3px 10px;
    background:#ffffff;
    border:1px blue solid;
    color:black;
}
.marker-online{
    width: 32px;
    height: 32px;
    display: block;
    background: url(../../images/markerGreen.png) no-repeat;
}
.marker-offline{
    width: 32px;
    height: 32px;
    display: block;
    background: url(../../images/markerRed.png) no-repeat;
}
.marker-tagYellLine {
    width: 32px;
    height: 32px;
    display: block;
    background: url(../../images/markerYellow.png) no-repeat;
}
.marker-blackishGreen{
    width: 32px;
    height: 32px;
    display: block;
    background: url(../../images/markerblackishGreen.png) no-repeat;
}
.marker-blue{
    width: 32px;
    height: 32px;
    display: block;
    background: url(../../images/markerBlue.png) no-repeat;
}
.point_animation{
    background: #ff9900;
    width: 6px;
    height: 6px;
    border: 2px #ff9900 solid;
    border-radius: 50%;
    position: absolute;
   }
   
   .point_animation p, .point_animation span{
    position: absolute;
    width: 4px;
    height: 4px;
    animation: point_animation 1.5s infinite;
    box-shadow: 0px 0px 1px #ff9900; 
    margin: 0px;
    border-radius: 50%;
   }
   .point_animation span{
    animation-delay: 0.8s;
   }
   @keyframes point_animation{
    10% {
    transform: scale(1);
    }
    100% {
    transform: scale(8);
    }
   }
   .css_animation{
    height:50px; 
    width:50px;
    border-radius: 25px; 
    background: rgba(255, 0, 0, 0.9);
    transform: scale(0);
    animation: mypoint 3s;   
    animation-iteration-count: infinite;
   }
   @keyframes mypoint{
    to{
    transform: scale(1.5);
    background: rgba(0, 0, 0, 0);
    }
   }
.ol-popup {
    /* position: absolute; */
    background-color: #fff;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 5px;
    border: 1px solid #cccccc;
    /* bottom: 30px; */
    /* left: -175px; */
    width: 350px;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 50%;
    margin-left: -9px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: -4px;
    right: 8px;
    z-index: 10;
}
.ol-popup-closer:after {
    content: "×";
    font-size: 20px;
}