$bor_color: #27343b;
.SignalManagement {
    width: 100%;
    height: 100%;
    background-color: #021035;
    .InterworkingList {
        width: 100%;
        height: calc(100% - 60px);
        position: absolute;
        top: 60px;
        z-index: 8;
    }
    .Interwork_left {
        width: 235px;
        height: calc(100% - 120px);
        border-right: 1px solid $bor_color;
        border-top: 1px solid $bor_color;
        background-color: rgba(28, 33, 39, 0.7);
        position: absolute;
        left:0;
        bottom:0;
        z-index: 9;
        .InterworkLeft_search {
          border-top: 1px solid $bor_color;
          border-bottom: 1px solid $bor_color;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .InterworkLeft_Title {
          height: 110px;
          border-bottom: 1px solid $bor_color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          font-weight: bold;
          span {
            width: 28px;
            height: 18px;
            margin-right: 5px;
            background: url("../../../images/03.png") no-repeat;
            background-size: 100% 100%;
          }
        }
        :global(.ant-input) {
            color: #fff;
            background-color: #1b2d2f;
            border: none;
            outline: none;
          }
          .InterworkLeft_search {
            :global(path) {
              color: white;
            }
          }
      }
    /* 地图 */
    .mapContent{
        width: 100%;
        height: calc(100% - 60px);
        position: absolute;
        top: 60px;
        z-index: 8;
        .tagMarker{
            height: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top:70px;
            right:10px;
            z-index: 9;
            .statusBox{
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: rgba(28, 33, 39, 0.9);
                border:1px #353c46 solid;
                padding:5px 0 5px 5px;
                margin-right:5px;
                > span{
                    line-height:18px;
                    display: inline-block;
                    padding-left:35px;
                    margin-right:15px;
                }
                > span.tagOnLine{
                    background:url(../../../images/markerGreen.png) no-repeat;
                    background-position: 10px center;
                    background-size: 18px 18px;
                }
                > span.tagOffLine{
                    background:url(../../../images/markerRed.png) no-repeat;
                    background-position: 10px center;
                    background-size: 18px 18px;
                }
            }
            .turnBtn{
                width:32px;
                height:32px;
                background:url(../../../images/icon_turn.png) no-repeat;
            }
        }
    }
    /* 地图弹层 */
    :global(.amap-info-contentContainer) {
        width: 410px;
        height:350px;
    }
    :global(.amap-info-content) {
        position: relative;
        background: transparent;
        padding: 0;
        line-height: 1.4;
        overflow: auto;
    }

    :global(.content_box) {
        background: rgba(9, 9, 9, .8) !important;
        padding: 0px !important;
    }

    :global(.content_box_title) {
        line-height: 30px;
        color: #fff;
        background: rgba(19, 27, 37, .6) !important;
        padding: 35px 30px 15px;
    }

    :global(.content_box_title h4) {
        color: #fff;
        line-height: 35px;
        font-size: 14px;
        position: absolute;
        padding-left: 30px;
        left: 0;
        right: 0;
        // background: #131a22;
        top: 0;
    }

    :global(.content_box_title p.input-item) {
        line-height: 25px;
        font-size: 12px;
        padding:0 30px;
    }
    :global(.content_box_title p.input-item span b.icon_phase) {
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url(../../../images/icon_phase.png) no-repeat;
        position: relative;
        left:8px;
        top:8px;
    }
    :global(.content_box_title p.input-item span.paramsBtn) {
        width:120px;
        line-height: 30px;
        display: block;
        text-align: center;
        font-size: 14px;
        margin: 15px auto 0;
        border:1px #838a9a solid;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        color:#838a9a;
        cursor: pointer;
}
    :global(.content_box_title p.input_button) {
        text-align: center;
        padding-top: 10px;
    }

    :global(.content_box_title .input-item-button) {
        background: #153a61;
        color: #fff;
        border: 1px #838a9a solid;
        cursor: pointer;
        width: 82%;
    }

    :global(.amap-info-close) {
        position: absolute;
        right: 30px !important;
        top: 10px;
        cursor: pointer;
    }

    :global(.amap-info-close:hover) {
        transition: all 0.5s;
        transform: rotate(180deg);
        color: #26ff6d !important;
        background: none !important;
        border: none !important;
    }

    :global(.amap-info-sharp) {
        border-top-color: rgba(9, 9, 9, .8) !important;
        bottom: unset!important;
    }
    :global(.marker-online) {
        width: 32px;
        height:32px;
        display: block;
        background:url(../../../images/markerGreen.png) no-repeat;
    }
    :global(.marker-offline) {
        background:url(../../../images/markerRed.png) no-repeat;
    }
    :global(.marker-hoverline) {
        background-color:green;
    }
    
}
